<footer class="text-center text-white mt-5 shadow-lg" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">

        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/maruf_ilyasa/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-instagram"></i>
        </a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-linkedin"></i>
        </a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/Maru-Yasa"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: #f1f1f1;">
      © 2021 Copyright:
      <a class="text-dark" href="/">marusensei.herokuapp.com</a>
    </div>
    <!-- Copyright -->
  </footer>