<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    
    <title>Maru sensei</title>
    <link rel="shortcut icon" type="image/jpg" href="/img/maru-sensei.ico"/>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style> 
<body>
    <!-- //NOTE:Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <h3>
                  Maru-Sensei
              </h3>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Support</a>
            </div>
          </div>
        </div>
      </nav>

    <div class="row">



        <div class="container d-flex justify-content-center" style="margin-top: 100px;">
            <a class="navbar-brand text-center fw-bold text-dark">
                <img src="/img/maru-sensei.png" class="rounded rounded-circle shadow-lg border border-3" width="150" height="150" alt="...">
                <br>
                Maru-Sensei
                <br>
                <button onclick="window.location.href='https://discord.com/api/oauth2/authorize?client_id=825205253007474729&permissions=8&scope=bot'" class="btn btn-primary shadow">
                    <i class="bi bi-discord"></i> Invite the bot
                </button>
            </a>
        </div>
        <div class="container d-flex justify-content-center mt-5">
            <div class="shadow-lg col-9 rounded">
                <div class="text-center mt-3 fw-light fs-1">
                    <h1 class="fw-light">
                        Example:
                    </h1>
                </div>
                <div class="text-center mb-5 p-3 pt-0">
                    <img src="/img/demo1.png" class="img-fluid" width="" height="" alt="...">
                </div>              
            </div>
        </div>

        <div class="container d-flex justify-content-center mt-5 mb-5 mt-lg-5">
            <div class="shadow-lg col-9 rounded">
                <div class="text-center mt-3 fw-light fs-1">
                    <h1 class="fw-light">
                        Command List:
                    </h1>
                </div>
                <div class="d-flex justify-content-center mb-5">
                    <div class="col-9">
                        <table class="table table-striped fs-6" >
                            <thead>
                              <tr>
                                <th scope="col">Command</th>
                                <th scope="col">Usability</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>m!help</td>
                                <td>show avaible command</td>
                            </tr>
                            <tr>
                                <td>m!ask <your question></td>
                                <td>for asking with brainly server</td>
                              </tr>
                              <tr>
                                <td>m!set <your country></td>
                                <td>configure language [ID,EN]</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer class="text-center text-white mt-5 shadow-lg" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">

            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.instagram.com/maruf_ilyasa/"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="bi bi-instagram"></i>
            </a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="bi bi-linkedin"></i>
            </a>
            <!-- Github -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://github.com/Maru-Yasa"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="bi bi-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: #f1f1f1;">
          © 2021 Copyright:
          <a class="text-dark" href="/">marusensei.herokuapp.com</a>
        </div>
        <!-- Copyright -->
      </footer>


</body>
</html>