<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    
    <title>Maru sensei</title>
    <link rel="shortcut icon" type="image/jpg" href="/img/maru-sensei.ico"/>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style> 
<body>

    <%- include('components/navbar')  %> 

    <div class="row">



        <div class="container d-flex justify-content-center" style="margin-top: 100px;">
            <a class="navbar-brand text-center fw-bold text-dark">
                <img src="/img/maru-sensei.png" class="rounded rounded-circle shadow-lg border border-3" width="150" height="150" alt="...">
                <br>
                  Maru-Sensei 
                  <br>
                  <% if (botStatus === 200) { %>
                    <span class="badge rounded-pill bg-success">Online</span>                   
                  <% } else { %>
                    <span class="badge rounded-pill bg-danger">Offline</span>                   
                  <% } %>
                   
                <br>
                <br>
                <button onclick="window.location.href='https://discord.com/api/oauth2/authorize?client_id=825205253007474729&permissions=8&scope=bot'" class="btn btn-primary shadow">
                    <i class="bi bi-discord"></i> Invite the bot
                </button>
            </a>
        </div>
        <div class="container d-flex justify-content-center mt-5">
            <div class="shadow-lg col-11 col-lg-9 rounded">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/img/demo4.png" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block fw-bold">
                        <h5>Asking Something</h5>
                        <p>Type your question and asking command, BOOM!! the bot will give answer</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/img/demo5.png" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Set your language</h5>
                        <p>Support different languages....!!!</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/img/demo6.png" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Asking Something</h5>
                        <p>Type your question and asking command, BOOM!! the bot will give answer</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            </div>
        </div>

        <div class="container d-flex justify-content-center mt-5 mb-5 mt-lg-5">
            <div class="shadow-lg col-9 rounded">
                <div class="text-center mt-3 fw-light fs-1">
                    <h1 class="fw-light">
                        Command List:
                    </h1>
                </div>
                <div class="d-flex justify-content-center mb-5">
                    <div class="col-9">
                        <table class="table table-striped fs-6" >
                            <thead>
                              <tr>
                                <th scope="col">Command</th>
                                <th scope="col">Usability</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% command.forEach(element => { %>
                                <tr>
                                  <td><%= element.command %> </td>
                                  <td><%= element.usage %> </td>
                                </tr>
                              <% }) %>
                            <!-- <tr>
                                <td>m!ask <your question></td>
                                <td>for asking with brainly server</td>
                              </tr>
                              <tr>
                                <td>m!set <your country></td>
                                <td>configure language [ID,EN]</td>
                              </tr> -->
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




<%- include('components/footer') %> 


</body>
</html>